:host {
  display: block;
  width: 980px;
  height: 100%;
  position: relative;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.error {
  margin: auto;
  color: red;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.add-button {
  position: absolute;
  right: 1rem;
  bottom: 0;
  }

md-list {
  background: none;
}

md-list-item {
  margin-bottom: 10px;
  background: var(--md-list-container-color, var(--md-sys-color-surface, #fef7ff));
}

.roomId {
  color: var(--md-list-item-supporting-text-color, var(--md-sys-color-on-surface-variant, #49454f));
  background-color: var(--md-filled-tonal-button-container-color, var(--md-sys-color-secondary-container, #e8def8));
  padding: 15px;
  margin-left: 5px;
}

.listHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}